# Don't take stl files
*.stl

# Ignore gcode files
*.g
*.gcode

# Ignore VIM swap files
*.swp

# Ignore zip files in the documentation dir
docs/*.zip

# Ignore automatically built files
builds/
docs/Output/
*.stl.d
ninja.build
.ninja_deps
.ninja_log

# Ignore IDE files
.vscode/

.DS_Store
